body
{
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    color: #ff6;
    background-color: #000;
    overflow: hidden;
}
.titles
{
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    transform-origin: 50% 105%;
    transform: perspective(350px) rotateX(25deg);
}
.titles:after
{
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background: #000000;
}
.title_content
{
    position: absolute;
    top: 100%;
    animation: scroll 20s linear 0s infinite;
    animation-fill-mode: backwards;
}
@keyframes scroll {
    0% { top: 100%; }
    100% { top: 0%; }
}

.h1{
    text-align: center;
}